*{
    margin: 0em;
    padding: 0em;
}

body{
    margin: 0;
    color: #000;
    background-color: #fff;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

.scrollUpButton{
    display: none;
}   

#menuUl a{
    color:#000;
}

.footerSponsors p {
    color: black;
}

header {
    display: grid;
    background-color: var(--primaryColor);
}

/*
----------------
 NAVBAR AND BREADCRUMB
----------------
*/

#breadcrumb p{
    color:#000;
}

#todaysOpeningHours {
    justify-self: center;
    color:#000;
}

#menu,#userCrumb{
    display: none;
}


#headerBreadcrumbWrapper > header > h1{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

#breadcrumb{
    padding: 0.5em 0 0.5em 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.cardIndex:hover{
    color: #000;
}

/*
----------------
 HOME PAGE
----------------
*/

#indexMain > div{
    page-break-inside: avoid;
}

#indexMain img{
    display: none;
}

.cardIndex{
    box-shadow: none;
    justify-items: center;
}

.cardIndex a{
    box-shadow: none;
}

#indexMain a:hover{
    text-decoration: none;
}

/*
----------------
 CALENDAR PAGE
----------------
*/
#calendarTable thead th {
    color: #000;
}

#calendarTable{
    margin-top: 2em;
    margin-bottom: 2em;
}

#calendarMain{
    justify-items: center;
    text-align: center;
}

#calendarTable{
    border-spacing: 0.9em;
}

.footerSponsors{
    background-color: #0c0f14;
    padding: 1em;
    text-align: center;
    margin-top:1em;
}
  
.footerSponsors img{
    width: 5em;
    height: auto;
    margin: 0.5em;
}

#calendarMain button{
    display: none;
}

#calendarMain > #calendarTable > tr{
    border: solid 1px;
}

#calendarMain > table {
    border-collapse:collapse;
}
 
#calendarMain > table tr,th,td{
    padding: 0.45em;
    border:1px solid #000;
}

#calendarTable thead p {
    font-size: 1.25em;
    color: #000;
}

/*
----------------
 RIDES PAGE
----------------
*/

#ridesMain{
    margin-top: 1em;
}

#rideList li, footer{
    page-break-inside: avoid;
}

#filtersContainer button{
    display: block;
}

#ridesMain > p,#filtersContainer{
    display: none;
}

#centerMaps > a{
    display: none;
}

#ridesMain > #rideList > li{
    box-shadow: none;
}

.errorMessageBgPar {
    color: black;
}

/*
----------------
 SHOWS PAGE
----------------
*/

#cardFormMainShows > #showList > li{
    page-break-inside: avoid;
    box-shadow: none;
}


/*
----------------
 TICKET PAGE
----------------
*/

#boxTicket > p{
    display: none;
}

.cardTicket{
    border: solid 2px;
    box-shadow: none;
}

#ticketWrapper {
    display: inline-block;
}

#buyTicketKart{
    border: solid 2px;
    box-shadow: none;
    margin: 1em;
}

/*
----------------
 CART PAGE
----------------
*/

#boxCart{
    border: solid 2px;
    box-shadow: none;
}

#btnCart{
    display: none;
}

#btnSelect{
    display: none;
}

#pageCart{
    height: 20%;
}




/*
----------------
 PROFILE PAGE
----------------
*/

#profileMain a{
    border: solid 2px;
    box-shadow: none;
}

#ticketCardDetails{
    border: solid 2px;
    box-shadow: none;
    color: #000;
}