*{
    margin: 0em;
    padding: 0em;
}

body{
    font-size: 80%;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

.scrollUpButton{
    display: none;
}


/*
----------------
 CALENDAR PAGE
----------------
*/

#calendarTable{
    margin-top: 2em;
    margin-bottom: 2em;
}

#calendarMain{
    justify-items: center;
    text-align: center;
}

#calendarTable{
    border-spacing: 0.9em;
}

.footerSponsors{
    background-color: #0c0f14;
    padding: 1em;
    text-align: center;
    margin-top:1em;
}
  
.footerSponsors img{
    width: 5em;
    height: auto;
    margin: 0.5em;
}

/*
----------------
 RIDES PAGE
----------------
*/

#ridesMain{
    margin-top: 1em;
}

#rideList li, footer{
    page-break-inside: avoid;
}

#filtersContainer button{
    display: block;
}

/*
----------------
 SHOWS PAGE
----------------
*/

#showList li{
    page-break-inside: avoid;
}
