* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.time-bar {
    background-color: #953737;
    color: rgb(246, 255, 0);
    text-align: center;
    padding: 0.5em;
    font-size: 14px;
}

header {
    background-color: #12db30;
    text-align: center;
    padding: 1em;
}

nav {
    padding: 1em 2em;
}

.nav-links {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    padding: 0em;
}

.nav-links li {
    padding: 0 3em;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.nav-links a:hover {
    text-decoration: underline;
}


