* {
  padding: 0em;
  margin: 0em;
}

:root{
  --tertiaryColorRGB: 0, 113, 235;
  --primaryColor: #000a99;
  --secondaryColor: #FFC300;
  --tertiaryColor: #0071EB;
  /* arancione #F26B18; */
  --errorColor: #BD0000;
}

html{
  color: #000;
}

body{
  margin: auto;
  background-color: #fff;
  color: #000;
}

main{
  max-width: 1200px;
  margin: auto;
}

body, button{
    font-family: "Figtree", Roboto, sans-serif; /* Font accessibile */
}


.tertiaryBg main{
    background-color: #FFF;
}
/*
---------------------
  FLEX LAYOUTS
---------------------
*/
/*TODO: valutare utilità di questo metodo. Magari chiedere alla prof*/
.row{ /*FIXME: ancora non usata*/
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.centerRow{ /*FIXME: ancora non usata*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*
---------------------
  LINKS AND BUTTONS
---------------------
*/
a{
  color: #000;
  text-decoration: none;
}

a:visited{
  background-color: var(--tertiaryColor);
}

a:hover{
  text-decoration: underline;
}

.buttonStyle{
  padding: 1em 2em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.buttonStyle:hover{
  text-decoration: none;
}

.translateUpOnHover{
  transition: transform 0.3s ease-out;
}

.translateUpOnHover:hover{
 transform: translateY(-2px);
}
/*
---------------------
    BREADCRUMB
---------------------
*/

#breadcrumb{
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--primaryColor);
  border-bottom: 2px solid #FFF;
  align-items: center;
}

#breadcrumb p:first-child{
  justify-self: left;
}

#breadcrumb p:nth-child(2){
  justify-self: center;
}

#userCrumb{
  justify-self: right;
}

#breadcrumb p, #breadcrumb a{
  /* padding-left: 0.5em;
  padding-right: 0.5em; */
  padding: 0.2em 0.5em;
  margin: 0.35em 0;
  border: 2px solid var(--primaryColor);
  display: inline-block;
  color: #FFF;
  
}

#breadcrumb p a{
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--secondaryColor);
}

#breadcrumb .buttonStyle{
  border: 2px solid var(--secondaryColor);
  border-radius: 2px;
  color: #FFF;
  margin: 0.35em;
  transition: all .2s ease-in-out;
}

#breadcrumb .buttonStyle:hover{
  color: #000;
  background-color: var(--secondaryColor);
}

/*
---------------------
    HEADER AND NAV
---------------------
*/

header h1{
  font-size: 4.5em;
  line-height: 1.5em;
  background-image: url('../assets/logo-transparent_500x500.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 95%;
  text-indent: -9999px;
}

#headerNavWrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--primaryColor);
  position: sticky;
  top: 0;
}

#menu>ul{
  display: flex;
  height: 100%;
  justify-content:space-around;
  list-style-type: none;
}

#menu>ul>li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color: #FFF;
  text-align:center;
  margin: auto 1em;
  padding: 1px 0;
  position: relative;
  font-weight: 500;
}

#menu #currentPageLink{
  color: var(--secondaryColor);
}


#menu>ul>li>a{
  line-height: 1.5em;
  color: #FFF;
  text-decoration: none;
  transition: color .3s ease-in-out;
  padding: 0 0.25em;
}

#menu>ul>li>a:visited::before{
  background-color: var(--secondaryColor);
}

#menu>ul>li>a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primaryColor);
  bottom: 0;
  left: 0;
  transition: height .2s ease-in-out, background-color .2s linear .2s;
  z-index: -1;
}

#menu>ul>li>a:hover::before {
  background-color: var(--secondaryColor);
  transition: height .3s ease-in-out, background-color 0s ease-in-out;
  height: 100%;
}

#menu>ul>li>a:hover{
  color: #000;
}


/*
---------------------
    ERROR 404 PAGE
---------------------
*/

#mainPageError404{
  display: grid;
  grid-template-columns: 3fr 4fr;
  background-color: var(--btncolor);
}

#mainPageError404>img{
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 5px #000);
}

#mainPageError404>p{
  font-size: 2em;
  padding: 7em 1em;
}

/* #footerPageError404{
  
} */

/*
---------------------
    PRIVACY PAGE
---------------------
*/

.paragrafo{
  padding: 1em 0.8em;
  text-align: justify;
}

#titoloParagrafo{
  font-size: 2em;
  padding: 0.5em 0.4em;
  text-align: justify;
}

#sottotitoloParagrafo{
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  text-align: justify;
}

/*
---------------------
    CALENDAR PAGE
---------------------
*/

.paragraphCalendar{
  padding: 0.2em 0.8em;
  text-align: justify;
}

#titleCalendar{
  font-size: 2em;
  padding: 0.2em 0.4em;
  text-align: justify;
}

.subtitleCalendar{
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  text-align: justify;
}

.subsubtitleCalendar{
  font-size: 1.2em;
  padding: 0.7em 0.5em;
  text-align: justify;
}

.wrapCalendarTable{
  display: flex;
  align-items: center;
  gap: 5em;
}

#calendarTable{
  text-align: center;
  vertical-align: top; /* Allinea il testo in alto */
  padding: 0em 1em;
}


#calendarTable td {
  font-size: 1em; /* Dimensione del numero del giorno */
  padding: 0em 1em;
}

#calendarTable th {
  font-size: 1em; /* Dimensione del testo aggiuntivo */
}

#calendarTable p{
  font-size: 0.7em; /* Dimensione del testo aggiuntivo */
  color: gray; /* Colore del testo aggiuntivo */
}

/* #photoOpenPark{
  width: 7em;
  height: auto;
  left: 25%;
} */

#closedParkCalendar{
  text-align: center;
}

/*
---------------------
    FORMS
---------------------
*/
input[type="text"], input[type="password"]{
  font-size: 1.1em;
  border: none;
  border-bottom: 3px solid var(--primaryColor);
  transition: border-bottom .2s ease-out;
  padding: 0.25em 0;
}

input[type="text"]:focus, input[type="password"]:focus{
  border-bottom: 3px solid var(--secondaryColor);
  outline: none;
}

label{
  color: var(--primaryColor);
  position: absolute;
  top: 2em;
  transition: transform 0.3s ease-out;
}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label, input[type="password"]:focus ~ label, input[type="password"]:valid ~ label{
  transform: translateY(-1em);
}

.inputLabelContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.errorMessageBgPar{
  background-color: var(--errorColor);
  padding: 0.5em 1em;
  color: #FFF;
  border-radius: 5px;
  font-weight: 600;
  margin: 1em 0 0 0;
}

/*
---------------------
    CARD
---------------------
*/
.card{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: .75rem;
}

/*
---------------------
    LOGIN
---------------------
*/
#loginBody{
  background: rgba(var(--tertiaryColorRGB), 0.4);
}

#loginMain{
  margin: 2em auto;
  width: 100%;
  max-width: 425px;
}

#loginMain>h1{
  font-size: 2.5em;
  margin-top: 0.5em;
}

#loginForm{
  width: 75%;
  margin: 0 auto;
}

#loginForm>input{
  padding: 0.75em 0.5em;
  margin: 0.5em 1em;
}

#loginForm>input[type="submit"]{
  background: var(--primaryColor);
  background: linear-gradient(150deg, var(--primaryColor) 25%, var(--tertiaryColor) 75%);
  color: #FFF;
  padding: 0.75em 0;
  font-size: 1.25em;
  font-weight: 600;
  margin: 1.5em 0 1em 0;
  width: 100%;
  border-radius: 2px;
}

#registrationButton{
  color: #000;
  border-color: #000;
  border-image: linear-gradient(150deg, var(--primaryColor) 25%, var(--tertiaryColor) 75%) 1;
  border-width: 5px;
  border-style: solid;
  font-weight: 500;
  margin: 1em 0 0.5em 0;
}

/*
----------------
    MAP PAGE
----------------
*/

#mapMain{
  padding: 2em;
  box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.2);
}

#mapMain>h1{
  font-size: 2.5em;
  margin-bottom: 0.25em;
  text-align: center;
}

#mapMain>h2{
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
}

#mapMain>p{
  text-align: center;
  font-size: 1.1em;
}

#filtersContainer>button{
  border-radius: 2px;
  background: transparent;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0.35em;
  padding: 0.75em 1.5em;
  transition: all .2s ease-in-out;
}

#tutteBtn{
  border: 5px solid var(--primaryColor);
  color: #000;
}

#tutteBtn:hover{
  background-color: var(--primaryColor);
  color: #FFF;
}

#filtersContainer>.tutteBtnSelected{
  background-color: var(--primaryColor);
  color: #FFF;
  cursor: default;
}

#adrenalinicheBtn{
  border: 5px solid var(--errorColor); /*FIXME: cambiare error color*/
  color: #000;
}

#adrenalinicheBtn:hover{
  background-color: var(--errorColor);
  color: #FFF;
}

#filtersContainer>.adrenalinicheBtnSelected{
  background-color: var(--errorColor);
  color: #FFF;
  cursor: default;
}

#fantasyBtn{
  border: 5px solid var(--tertiaryColor);
  color: #000;
}

#fantasyBtn:hover{
  background-color: var(--tertiaryColor);
  color: #FFF;
}

#filtersContainer>.fantasyBtnSelected{
  background-color: var(--tertiaryColor);
  color: #FFF;
  cursor: default;
}

#bambiniBtn{
  border: 5px solid var(--secondaryColor);
  color: #000;
}

#bambiniBtn:hover{
  background-color: var(--secondaryColor);
}

#filtersContainer>.bambiniBtnSelected{
  background-color: var(--secondaryColor);
  cursor: default;
}

#filtersContainer {
  padding: 1.5em;
  display: flex;
  justify-content: center;
}

#parkMapImg{
  width: 75%;
  margin: 1em auto;
  display: block;
}

#attractionList > .card{
  padding: 1rem;
  margin: 1.2rem;
  max-height: fit-content;
}

#attractionList > .adrenalinicheCard{
  background-color: var(--errorColor);
  color: #FFF;
}

#attractionList > .fantasyCard{
  background-color: var(--tertiaryColor);
  color: #FFF;
}

#attractionList > .bambiniCard{
  background-color: var(--secondaryColor);
}

#attractionList > .card h3{
  font-size: 1.75em;
  text-align: center;
}

#attractionList > .card p{
  padding: 1.5em 0em;
}

.rideCardBody{
  display: flex;
  justify-content: space-between;
}

.rideCardBody img{
  max-width: 18em;
  height: auto;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
}

#attractionList{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
----------------
    MAP PAGE
----------------
*/

#mapMain{
  padding: 2em;
  box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.2);
}

#mapMain>h1{
  font-size: 2.5em;
  margin-bottom: 0.25em;
  text-align: center;
}

#mapMain>h2{
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
}

#mapMain>p{
  text-align: center;
  font-size: 1.1em;
}

#filtersContainer>button{
  border-radius: 2px;
  background: transparent;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0.35em;
  padding: 0.75em 1.5em;
  transition: all .2s ease-in-out;
}

#tutteBtn{
  border: 5px solid var(--primaryColor);
  color: #000;
}

#tutteBtn:hover{
  background-color: var(--primaryColor);
  color: #FFF;
}

#filtersContainer>.tutteBtnSelected{
  background-color: var(--primaryColor);
  color: #FFF;
  cursor: default;
}

#adrenalinicheBtn{
  border: 5px solid var(--errorColor); /*FIXME: cambiare error color*/
  color: #000;
}

#adrenalinicheBtn:hover{
  background-color: var(--errorColor);
  color: #FFF;
}

#filtersContainer>.adrenalinicheBtnSelected{
  background-color: var(--errorColor);
  color: #FFF;
  cursor: default;
}

#fantasyBtn{
  border: 5px solid var(--tertiaryColor);
  color: #000;
}

#fantasyBtn:hover{
  background-color: var(--tertiaryColor);
  color: #FFF;
}

#filtersContainer>.fantasyBtnSelected{
  background-color: var(--tertiaryColor);
  color: #FFF;
  cursor: default;
}

#bambiniBtn{
  border: 5px solid var(--secondaryColor);
  color: #000;
}

#bambiniBtn:hover{
  background-color: var(--secondaryColor);
}

#filtersContainer>.bambiniBtnSelected{
  background-color: var(--secondaryColor);
  cursor: default;
}

#filtersContainer {
  padding: 1.5em;
  display: flex;
  justify-content: center;
}

#parkMapImg{
  width: 75%;
  margin: 1em auto;
  display: block;
}

#attractionList > .card{
  padding: 1rem;
  margin: 1.2rem;
  max-height: fit-content;
}

#attractionList > .adrenalinicheCard{
  background-color: var(--errorColor);
  color: #FFF;
}

#attractionList > .fantasyCard{
  background-color: var(--tertiaryColor);
  color: #FFF;
}

#attractionList > .bambiniCard{
  background-color: var(--secondaryColor);
}

#attractionList > .card h3{
  font-size: 1.75em;
  text-align: center;
}

#attractionList > .card p{
  padding: 1.5em 0em;
}

.rideCardBody{
  display: flex;
  justify-content: space-between;
}

.rideCardBody img{
  max-width: 18em;
  height: auto;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
}

#attractionList{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
---------------------
    PROFILE
---------------------
*/
#profileMain{
  background-color: transparent;
}

#profileMain>h1{
  font-size: 2.5em;
  padding-top: 0.5em;
  text-align: center;
  text-shadow: #FFF 0 0 25px;
}

#container{
  display: flex;
  justify-content: space-between;
}

#container>div{
  background-color: #FFF;
  margin-top: 1em;
}

#profileCard{
  width: 35%;
}

#profileMain .card{
  margin: 1.5em 1em;
  height: fit-content;
}

#profileMain .card > h2{
  font-size: 2em;
  text-align: center;
}

#profileMain .card > h3{
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  margin: 0.25em 0;
}

#profileDetailsContainer{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#profileDetailsContainer dl{
  font-size: 1.1em;
}

#profileDetailsContainer dt, #profileDetailsContainer dd{
  display: inline;
  line-height: 1.5em;
}

#profileDetailsContainer dd:after {
  content: "\a";
  white-space: pre;
}

#profileDetailsContainer .filledGradientBtn{
  margin: 0.75em 0 0 0;
}

#purchasesCard{
  width: 60%;
}

.ticketCardsContainer{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.ticketCardDetails{
  display:flex;
  flex-direction:column;
}

#purchasesCard .ticketCard{
  margin: 0.5em;
  box-shadow: none;
  background-color: var(--primaryColor);
  color: #FFF;
  display: flex;
  flex-direction: row;
}

.ticketCard svg{
  width: 4em;
  height: 3em;
  fill: #FFF;
  stroke: #FFF;
  margin-right: 0.3em;
}

#purchasesCard .outlineGradientBtn{
  width: 50%;
  margin: 1em auto 0.5em auto;
}

/*
----------
HOME PAGE
----------
*/

#containerCardIndex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  padding-bottom: 4em;
}

#imgIndex img{
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: top;
  padding: 1.5em 0em;
}

.cardIndex{
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  width: 23em;
  height: 15em;
}

.cardIndex img{
  width: 35%;
  height: auto;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  object-position: center;
}

.cardIndexScript {
  display: flex;
  flex-direction: column;
  padding-left: 1em;  
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.cardIndexButton{
  align-self: flex-end;
  padding: 0.5em;
}

.cardIndexButton button{
  border-radius: 20%;
  border: none;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
}

.cardIndexButton button:hover{
  background-color: var(--primaryColor);
  color: #FFF;
  cursor: pointer;
}

.containerAttractionsIndex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 0em;
}

.containerAttractionsIndexScript{
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.containerAttractionsIndexScript h3{
  font-size: 2.3em;
}

.containerAttractionsIndexScript p{
  font-size: 1.1em;
}

.containerAttractionsIndexImg{
  padding-top: 1em;
  border-radius: 50%;
}

.containerAttractionsIndexImg img{
  border-radius: 11%;
  height: 20em;

}

#footerSponsors{
  background-color: #0c0f14;
  padding: 1em;
  text-align: center;
  margin-top:1em;
}

#footerSponsors img{
  width: 5em;
  height: auto;
  margin: 0.5em;
}

#footerSponsors a{
  color: white;
}

#footerSponsors p{
  color: white;
}

#footer{
  background-color: var(--primaryColor);
  padding: 1em;
  text-align: center;
  margin-top:1em;
}

#footer a{
  font-size: 1.1em;
  color: #FFF;
}

#titleHomePage{
  font-size: 3em;
}

.paragHomePage{
  font-size: 1.1em;
}
.containerHomePage {
  background: linear-gradient(150deg, var(--primaryColor) 25%, var(--tertiaryColor) 75%);
  display: flex;
  flex-direction: row;
  gap: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

.menuItem {
  position: relative; /* Necessario per il posizionamento del pseudo-elemento */
  padding: 0.5em;
  overflow: hidden; /* Nasconde il pseudo-elemento che esce dai bordi */
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  text-align: center;
}

.menuItem img {
  position: relative; /* Rende il paragrafo un nuovo livello */
  width: 4em;
  z-index: 1; /* Sopra al pseudo-elemento ::before */
}

/* Pseudo-elemento per animare il cambio del background */
.menuItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; /* Parte da zero */
  height: 100%;
  background: #ffffff; /* Bianco durante l'hover */
  transition: width 0.4s ease; /* Durata e effetto dell'animazione */
  z-index: 0; /* Posizionato sotto il testo */
}

.menuItem:hover::before {
  width: 100%; /* Si espande completamente verso destra */
}

.menuItem:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Per assicurarti che il testo sia sempre visibile */
.menuItem p {
  position: relative; /* Rende il paragrafo un nuovo livello */
  color: white; /* Testo bianco iniziale */
  font-size: 1.3em;
  margin: 0;
  transition: color 0.4s ease; /* Transizione del colore */
  z-index: 1; /* Sopra al pseudo-elemento ::before */
}

/* Cambia il colore del testo quando l'hover è attivo */
.menuItem:hover p {
  color: var(--primaryColor); /* Blu durante l'hover */
}
