* {
  padding: 0em;
  margin: 0em;
}

:root{
  --primaryColor: #000a99;
  --secondaryColor: #FFC300;
  --tertiaryColor: #0071EB;
  --tertiaryColorRGB: 0, 113, 235;
  --errorColor: #BD0000;
  --adrenalineColor: #BD0000;
  --fantastyColor:  #0071EB;
  --kidsColor: #FFC300;
  --tertiaryColorBgRGBA: 0, 113, 235, 0.4;
}

html{
  color: #000;
}

body{
  margin: auto;
  background-color: #fff;
  color: #000;
}

main{
  max-width: 1200px;
  margin: auto;
  background-color: #FFF;
  min-height: fit-content;
}

body, button{
    font-family: "Figtree", Roboto, sans-serif; 
}

abbr{
  text-decoration: none;
}

/*
---------------------
  DISPLAY
---------------------
*/
.hidden{
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -999999em;
}

/*
---------------------
  BACKGROUND
---------------------
*/

.tertiaryBg{
  background: rgba(var(--tertiaryColorBgRGBA));
}

.tertiaryBg main{
  background-color: #FFF;
  box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.2);
}

/*
---------------------
  LINKS AND BUTTONS
---------------------
*/
a{
  color: #000;
  text-decoration: none;
}

a:visited{
  background-color: var(--tertiaryColor);
}

a:hover{
  text-decoration: underline;
}

.buttonStyle{
  padding: 1rem;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #000;
  text-align: center;
}

.buttonStyle:hover{
  text-decoration: none;
}

.basicBtn, .basicBtn:visited{
  color: #000;
  border-color: var(--tertiaryColor);
  border-width: 5px;
  border-style: solid;
  font-weight: 500;
  font-size: 1.1em;
  background-color: #FFF;
  transition: all .2s ease-in-out;
}

.basicBtn:visited{
  background-color: var(--tertiaryColor);
  color: #FFF;
}

.basicBtn:hover, .basicBtn:visited:hover{
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #FFF;
}

.filledGradientBtn, .filledGradientBtn:visited{
  background: var(--primaryColor);
  background: linear-gradient(150deg, var(--primaryColor) 25%, var(--tertiaryColor) 75%);
  color: #FFF;
  padding: 1em 1.5em;
  font-size: 1.25em;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
}
/*
---------------------
    BREADCRUMB
---------------------
*/

#breadcrumb{
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(max-content, 1fr);
  background-color: var(--primaryColor);
  border-bottom: 2px solid #FFF;
  align-items: center;
}

#breadcrumb>*{
  margin: 0.5em 0em;
  color: #FFF
}

#breadcrumbNav{
  justify-self: left;
  margin-left: 0.5em;
}

#breadcrumbNav a{
  text-decoration: underline;
}

#todaysOpeningHours{
  justify-self: center;
}

#userCrumb{
  justify-self: right;
  margin-right: 0.25em;
}

#breadcrumb a{
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}

#breadcrumb a:visited{
  background-color: var(--primaryColor);
}

#todaysOpeningHours a{
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--secondaryColor);
}

#breadcrumb .buttonStyle{
  border: 2px solid var(--secondaryColor);
  border-radius: 2px;
  color: #FFF;
  transition: all .2s ease-in-out;
  padding: 0.2em 0.5em;
}

#breadcrumb .buttonStyle:hover{
  color: #000;
  background-color: var(--secondaryColor);
}

#breadcrumb .buttonStyle:visited{
  background-color: var(--secondaryColor);
  color: #000;
}

/*
---------------------
    HEADER AND NAV
---------------------
*/

header h1{
  font-size: 4.5em;
  line-height: 1.5em;
  background-image: url('../assets/logo-transparent_500x500.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 95%;
  text-indent: -9999px;
  color: #FFF;
}

header{
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--primaryColor);
}

#headerBreadcrumbWrapper{
  display: flex;
  flex-direction: column-reverse;
  position: sticky;
  top: 0;
  z-index: 1;
}

#hamburgerIcon, #closeIcon{
  display: none;
}

#menu>ul{
  display: flex;
  height: 100%;
  justify-content:space-around;
  list-style-type: none;
}

#menu hr{
  width: 100vw;
  border: 3px solid var(--secondaryColor);
}

#menu>ul>li{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align:center;
  margin: auto 1em;
  padding: 1px 0;
  position: relative;
  font-weight: 500;
  font-size: 1.3em;
}

#menu #currentPageLink{
  color: var(--secondaryColor);
}

#menu>ul>*.mobileOnlyLink{
  display: none;
}

#menu>ul>li>a{
  line-height: 1.5em;
  color: #FFF;
  text-decoration: none;
  transition: color .3s ease-in-out;
  padding: 0 0.25em;
  z-index: 1;
}

#menu>ul>li>a:visited::before{
  background-color: var(--secondaryColor);
}

#menu>ul>li>a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primaryColor);
  bottom: 0;
  left: 0;
  transition: height .2s ease-in-out, background-color .2s linear .2s;
  z-index: -1;
}

#menu>ul>li>a:hover::before {
  background-color: var(--secondaryColor);
  transition: height .3s ease-in-out, background-color 0s ease-in-out;
  height: 100%;
}

#menu>ul>li>a:hover{
  color: #000;
}


/*
---------------------
    ERROR PAGE
---------------------
*/

.mainPageError{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12.5em;
}

.errorMain{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorMain>img{
  width: 50%;
  height: auto;
  filter: drop-shadow(5px 5px 5px #000);
  margin: 0 1em;
}

.errorMain p{
  display: flex;
  font-size: 2.3em;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  padding: 0.5em 2em;
}

.errorLink{
  display: flex;
  justify-content: center;
  margin: 3em 0em;
}

/*
---------------------
    PRIVACY PAGE
---------------------
*/

.paragrafo{
  padding: 1em 0.8em;
  text-align: justify;
}

#titoloParagrafo{
  font-size: 2em;
  padding: 0.5em 0.4em;
  text-align: justify;
}

#sottotitoloParagrafo{
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  text-align: justify;
}

/*
---------------------
    CALENDAR PAGE
---------------------
*/

#calendarMain>p{
  margin: 1em 0;
  text-align: center;
  font-size: 1.3em;
}

#calendarTable{
  text-align: center;
  vertical-align: top;
  padding: 0em 1em;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
  word-wrap: break-word;
}

#calendarTable th, #calendarTable td {
  width: calc(100% / 7);
}

#calendarTable caption{
  padding-bottom: 1em;
}

#calendarTable>tbody td{
  background-color: var(--secondaryColor); 
}

#calendarTable thead{
  background-color: var(--primaryColor);
  color: #FFF;
}

#calendarTable #monthHeaderFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

#calendarTable thead th{
  padding: 0.4em;
  border: 1px solid #FFF;
  font-size: 1.15em;
}

#calendarTable thead p{
  font-size: 1.25em;
  color: #FFF;
  word-wrap: break-word;
}

#calendarTable thead tr:first-child th{
  padding: 0.4em;
  font-size: 1.25em;
  border-top: 1px solid #000;
}

#calendarTable thead tr th:first-child{
  border-left: 1px solid #000;
}

#calendarTable thead tr th:last-child{
  border-right: 1px solid #000;
}

#calendarTable thead .buttonStyle{
  background-color: var(--primaryColor);
  padding: 0.3em 0.5em;
  font-size: 1.1em;
  border: 2px solid var(--secondaryColor);
  border-radius: 2px;
  color: #FFF;
  margin: 0.35em;
  transition: all .2s ease-in-out;
}

#calendarTable .buttonStyle:hover{
  color: #000;
  background-color: var(--secondaryColor);
}

#calendarTable .hiddenCalendarBtn{
  visibility: hidden;
}

#calendarTable .today{
  background-color: var(--primaryColor);
}

#calendarTable .today p{
  color: #FFF;
}

#calendarTable>tbody td{
  border: 1px solid #000;
  padding: 0.5em;
  font-size: 1.1em;
}

#calendarTable tbody p{
  font-size: 0.9em;
  color: #000;
  margin-top: 0.3em;
}

#calendarTable tbody td p:first-child{
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 0;
}

/*
---------------------
    FORMS
---------------------
*/
input[type="text"], input[type="password"]{
  font-size: 1.1em;
  border: none;
  border-bottom: 3px solid var(--primaryColor);
  transition: border-bottom .2s ease-out;
  padding: 0.25em 0;
}

input[type="text"]:focus, input[type="password"]:focus{
  border-bottom: 3px solid var(--secondaryColor);
  outline: none;
}

input[type="text"].invalidInput, input[type="password"].invalidInput{
  border-bottom: 3px solid var(--errorColor);
  outline: none;
}

input[type="text"]:disabled{
  color: #757575;
  background-color: #FFF;
}

label{
  color: var(--primaryColor);
  font-size: 1.1em;
}

.inputLabelContainer label{
  position: absolute;
  top: 0.4em;
  transition: transform 0.3s ease-out;
}

.emptyFieldLabel{
  transform: translateY(1.1em);
  cursor: text;
}

.inputLabelContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.fileInputLabelContainer{
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.fileInputLabelContainer>label{
  margin-bottom: 0.5em;
}

.errorMessageBgPar, .infoMessageBgPar{
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 1em 0 0 0;
  max-width: 75%;
  width: fit-content;
  text-align: center;
  word-wrap: break-word;
}

.errorMessageBgPar{
  color: #FFF;
  background-color: var(--errorColor);
  font-weight: 600;
}

.errorMessageBgPar li{
  text-align: left;
}

.infoMessageBgPar{
  background-color: var(--tertiaryColor);
  color: #FFF;
  font-size: 1.1em;
}

.errorMessageBgPar>ul, .infoMessageBgPar>ul{
  margin-left: 1em;
}

.errorMessageBgPar>p + ul, .infoMessageBgPar>p + ul{
  margin-top: 0.5em;
}

.errorMessagePar{
  color: var(--errorColor);
  font-size: 1.1em;
  word-wrap: break-word;
}

/*
---------------------
    CARD
---------------------
*/
.card{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: .75em;
  background-color: #FFF;
}

/*
---------------------
    LOGIN, REGISTRATION AND PROFILE EDIT PAGES
---------------------
*/
.cardFormMain{
  margin: 2em auto;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardFormMainContainer{
  margin: 0 1em;
}

.cardForm{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.cardFormMain>h1{
  font-size: 2.5em;
  margin-top: 0.5em;
  text-align: center;
  max-width: 90%;
  word-wrap: break-word;
}

.cardForm .filledGradientBtn{
  margin: 1.5em 0 1em 0;
}

.cardFormMain .basicBtn{
  margin: 1em 0 0.5em 0;
  padding: 1em 2em;
  box-sizing: border-box;
  width: 75%;
}

/*
----------------
    RIDES AND CALENDAR PAGE
----------------
*/

#ridesMain, #calendarMain{
  padding: 2em;
}

#ridesMain>h1, #calendarMain>h1{
  font-size: 2.75em;
  margin-bottom: 0.25em;
  text-align: center;
  word-wrap: break-word;
}

#ridesMain>h2, #calendarMain>h2{
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
  word-wrap: break-word;
}

#centerMaps{
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

#centerMaps h2{
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: center;
  word-wrap: break-word;
}

#centerMaps p{
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em;
}

#centerMaps a{
  display: inline-block;
}

/*
----------------
    RIDES ONLY
----------------
*/

#ridesMain>p{
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
}

#filtersContainer>button, #ridesMain .basicBtn{
  border-radius: 2px;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.75em 1.5em;
  margin: 0.35em;
}

#filtersContainer>button{
  background: transparent;
  transition: all .2s ease-in-out;
}

#tutteBtn{
  border: 5px solid var(--primaryColor);
  color: #000;
}

#tutteBtn:hover{
  background-color: var(--primaryColor);
  color: #FFF;
}

#filtersContainer>.tutteBtnSelected{
  background-color: var(--primaryColor);
  color: #FFF;
  cursor: default;
}

#adrenalinicheBtn{
  border: 5px solid var(--adrenalineColor);
  color: #000;
}

#adrenalinicheBtn:hover{
  background-color: var(--adrenalineColor);
  color: #FFF;
}

#filtersContainer>.adrenalinicheBtnSelected{
  background-color: var(--adrenalineColor);
  color: #FFF;
  cursor: default;
}

#fantasyBtn{
  border: 5px solid var(--fantastyColor);
  color: #000;
}

#fantasyBtn:hover{
  background-color: var(--fantastyColor);
  color: #FFF;
}

#filtersContainer>.fantasyBtnSelected{
  background-color: var(--fantastyColor);
  color: #FFF;
  cursor: default;
}
#filtersContainer>a{
border-radius: 2px;
  background: transparent;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0.35em;
  padding: 0.75em 1.5em;
  transition: all .2s ease-in-out;
}

#bambiniBtn{
  border: 5px solid var(--kidsColor);
  color: #000;
}

#bambiniBtn:hover{
  background-color: var(--kidsColor);
}

#filtersContainer>.bambiniBtnSelected{
  background-color: var(--kidsColor);
  cursor: default;
}

#filtersContainer {
  padding: 1.5em;
  display: flex;
  justify-content: center;
}

#parkMapImg{
  width: 75%;
  margin: 1em auto;
  display: block;
}

#rideList{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#rideList > .card{
  padding: 1rem;
  margin: 1.2rem;
  max-height: fit-content;
  background-color: #ecece5;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rideList > .hiddenRide{
  display: none;
}

#rideList > .adrenalinicheCard{
  border: 5px solid var(--adrenalineColor);
}

#rideList > .fantasyCard{
  border: 5px solid var(--fantastyColor);
}

#rideList > .bambiniCard{
  border: 5px solid var(--kidsColor);
}

#rideList > .card h3{
  font-size: 1.75em;
  text-align: center;
}

#rideList > .card p{
  padding: 1.5em 0em;
}

#rideList img{
  max-width: 18em;
  height: auto;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
}



/*
---------------------
MAP PAGE
---------------------
*/

#mapMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#mapMain>h1{
  font-size: 2.75em;
  margin: 0.25em;
  text-align: center;
}

#mapMain>p{
  font-size: 1.2em;
  text-align: center;
}

#mapMain>img{
  width: 100%;
  margin: 1em auto;
  display: block;
}

#mapButton{
  border-radius: 2px;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0.35em;
  padding: 0.75em 1.5em;
  margin: 1em;
}

#mapButton:hover{
  background-color: var(--primaryColor);
  color: #FFF;
}

/*
---------------------
    PROFILE AND PURCHASES PAGES
---------------------
*/
#profileMain, #purchasesMain{
  background-color: transparent;
  box-shadow: none;
}

#profileMain>h1, #purchasesMain>h1{
  font-size: 2.5em;
  padding-top: 0.5em;
  text-align: center;
  text-shadow: #FFF 0 0 25px;
  word-wrap: break-word;
}

#profileCardsContainer>.card, #purchasesMain>.card{
  padding: 1em 1.75em;
  height: fit-content;
  margin: 0 1em;
  background-color: #FFF;
}

#profileMain .card > h2, #purchasesMain h2{
  font-size: 2em;
  text-align: center;
  word-wrap: break-word;
}

#profileMain .card > h3, #purchasesMain .card > h3{
  font-size: 1.35em;
  text-align: center;
  font-weight: 500;
  margin-top: 0.25em;
}

.ticketCardsContainer{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  gap: 0.5em;
  margin: 1em 0;
}

.ticketCardDetails{
  display:flex;
  flex-direction:column;
}

.ticketCardDetails *:first-child{
  margin-bottom: 0.25em;
}

.ticketCardsContainer .ticketCard{
  box-shadow: none;
  background-color: var(--primaryColor);
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em 0.75em 0.75em;
}

.ticketCard svg{
  width: 3.5em;
  fill: #FFF;
  stroke: #FFF;
}

#purchasesMain .filledGradientBtn{
  margin: 1em 0;
}

/*
---------------------
    PROFILE PAGE
---------------------
*/

#profileCardsContainer{
  display: flex;
  justify-content: space-between;
  margin: 1.5em 1em;
}

#profileCard{
  width: 35%;
  display: flex;
  flex-direction: column;
}

#profileCard dl{
  font-size: 1.1em;
  margin: 0.75em 0 0.5em 0;
}

#profileCard dt, #profileCard dd{
  display: inline;
  line-height: 1.5em;
}

#profileCard dd:after{
  content: "\a";
  white-space: pre;
}

#profileCard .basicBtn, #lastPurchaseCard .basicBtn{
  margin: 0.25em auto;
  width: 100%;
  box-sizing: border-box;
}

#profileCard *:last-child{
  margin-bottom: 0.5em;
}

#lastPurchaseCard{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lastPurchaseCard>p{
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-size: 1.1em;
}

#lastPurchaseCard p+p{
  margin-top: 0.1em;
}

#lastPurchaseCard p:last-of-type{
  margin-bottom: 0.25em;
}

/*
---------------------
    PURCHASES PAGE
---------------------
*/
#purchasesMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#purchasesMain>h2{
  text-shadow: #FFF 0 0 25px;
  margin-top: 0.5em;
  word-wrap: break-word;
}

#purchasesMain>.card{
  width: fit-content;
  margin: 1em 2em;
}

#lastPurchaseCard>p, #purchasesMain .card p{
  margin-top: 0.25em;
  font-size: 1.1em;
}

#lastPurchaseCard p+p, #purchasesMain .card p+p{
  margin-top: 0.1em;
}


/*
---------------------
    EDIT PROFILE PAGE
---------------------
*/
#profileEditMain dl{
  font-size: 1.1em;
  margin: 0;
  margin-top: 0.75em;
}

#profileEditMain dt, #profileEditMain dd{
  display: inline;
  line-height: 1.5em;
}

#profileEditMain dd:after{
  content: "\a";
  white-space: pre;
}

/*
---------------------
    DELETE PROFILE PAGE
---------------------
*/

#profileDeletionMain{
  width: fit-content;
  max-width: 75%;
  padding: 1em 2em;
}

#profileDeletionMain > *:last-child{
  margin-bottom: 1.25em;
}

#profileDeletionMain .errorMessageBgPar{
  font-size: 1.1em;
}

#profileDeletionMain .infoMessageBgPar, #profileDeletionMain .errorMessageBgPar{
  padding: 0.5em 1.5em;
}

/*
-----------------
CART PAGE
-----------------
*/

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
  z-index: 2;
}

.hiddenCart{
  display: none;
}

.fieldCart{
  border: none;
}

.fieldCart > legend{
  display: none;
}

.sr_only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.rowCart p:first-child{
  font-size: 1.25em;
  font-weight: 600;
}

#boxCart{
  width: 25%;
  background-color: #FFC300;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 0.75rem;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  font-weight: bold;
  align-items: center;
}

.prezzoTot{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

#pageCart{
  justify-items: center;
  min-height: 50vh;
  padding-bottom: 1rem;
}

#pageCart h1{
  padding-top: 1em;
  font-size: 2.4em;
}

#btnCart{
  padding: 0.5em 0.7em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  border: solid 5px var(--primaryColor);
  border-radius: 2px;
  margin-bottom: 1em;
  background-color: var(--primaryColor);
  color: #FFF;
  font-size: 1.5em;
  transition: .2s ease-in-out;
}

#btnSelect{
  font-size: 1.5em;
  display: inline-block;
}

.btnAddRmv{
  padding: 0.5em 0.7em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #000;
  text-align: center;
  font-size: 1.1em;
  border: solid 5px var(--primaryColor);
  margin-top: 0.5em; 
  margin-left: 0.2em;
  margin-bottom: 1em;
  background-color: var(--primaryColor);
  color: #FFF;
}

#pageCartMain{
  text-align: center;
  font-family: "Figtree", Roboto, sans-serif;
}

.btnAddRmv:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

#btnCart:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

#btnChiudi:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.output{
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 35px rgba(0, 3, 41, 0.8);
  background-color: #FFF;
  border-radius: 5px;
  text-align: center;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


.output > #checkMark{
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 50%;
  font-size: 85px;
  margin-bottom: 30px;
}

#checkMark > path{
  fill: var(--primaryColor);
}

#textPaga{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primaryColor);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

#carrelloUL{
  list-style-type: none;
  justify-content: center;
}

/*
-----------------
TICKET PAGE
-----------------
*/

#ticketMain{
  padding: 0.5em 1em;
}

#ticketMain>p, #ticketMain>h3{
  text-align: center;
}

#buyTicketKart{
  background-color: var(--secondaryColor);
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: .75rem;
  position: sticky;
  width: 35%;
  height: 20%;
  margin: 1em 1em;
  text-align: center;
  font-weight: bold;
}

#buyTicketKart h2{
  font-size: 1.8em;
}

#buyTicketKart hr{
  width: 100%;
  margin: 0.5em 0;
  border: 2px solid #000;
  border-radius: 5px;
}

#buyTicketKart li{
  margin: 0.5em 0;
}

#boxTicket{
  padding: 1rem;
  justify-items: center;
}

#ticketChoice{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.btnTicket{
  padding: 0.5em 0.7em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #000;
  text-align: center;
  font-size: 1.1em;
  border: solid 5px var(--primaryColor);
  transition: all .2s ease-out;
  margin: 0.5em;
}

.btnTicket:hover{
  background-color: var(--primaryColor);
  color: #FFF;
}

#containerTicket{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardTicket{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: .75rem;
  margin: 1em;
  justify-content: space-between;
  background-color: white;
  border:none; 
  width: 95%; 
}

.ticketInfo{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 55%;
  float: left;
}

.ticketInfo h2{
  margin-bottom: 1rem;
}

.cardTicket h3{
  font-size: 1.5em;
}

.cardTicket p{
  font-size: 1.2em;
}

.cardTicket img{
  width: 9em;
  height: 10em;
}

#ticketMain>h1{
  font-size:2.5em;
  margin: 0.75rem;
  text-align: center;
}

#ticketMain>p{
  margin-top: 0.25em;
}

#ticketWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ticketSel{
  list-style-type: none;
}


/*
----------
HOME PAGE
----------
*/

#indexMain{
  padding: 0em 1em;
}

.buttonHome{
  position: relative;
  top: -1em;
  padding: 1em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  border: 1px solid var(--primaryColor);
  text-align: center;
  background-color: var(--primaryColor);
  border-radius: 15%;
}

#containerCardIndex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  padding-bottom: 4em;
}

#imgIndex img{
  width: 100%;
  object-fit: cover;
  object-position: top;
  padding: 1.5em 0em;
}

.cardIndex{
  display: flex;
  flex-direction: row;
  border-radius: 5%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 0.2em;
  border: solid 5px var(--tertiaryColor);
}

.cardIndexScriptButton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.cardIndexScriptButton h2{
  margin-bottom: 0.5em;
  text-align: center;
}

.cardIndexScriptButton p{
  margin-bottom: 0.25em;
}

.cardIndex img{
  width: 35%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 5% 0 0 5%;
}

.cardIndexScript {
  display: flex;
  flex-direction: column;
  padding-left: 1em;  
  padding-top: 0.5em;
  padding-right: 0.5em;
}

#containerRidesIndex1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0em;
}

#containerRidesIndex2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0em;
}

.containerRidesIndexScript{
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.containerRidesIndexScript h3{
  font-size: 2.3em;
}

.containerRidesIndexScript p{
  font-size: 1.1em;
}

.containerRidesIndexImg{
  padding-top: 1em;
  border-radius: 50%;
}

.containerRidesIndexImg img{
  border-radius: 5%;
  height: 16em;

}

.footerSponsors{
  background-color: #0c0f14;
  padding: 1em;
  text-align: center;
  margin-top:1em;
}

.footerSponsors img{
  width: 5em;
  height: auto;
  margin: 0.5em;
}

.footerSponsors a{
  color: white;
}

.footerSponsors p{
  color: white;
}

.footer{
  background-color: var(--secondaryColor);
  padding: 1em;
  text-align: center;
  margin-top:1em;
}

.footer a{
  font-size: 1.1em;
  color: #000000;
}

.footer img{
  width: 3em;
}

.socialWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#titleHomePage{
  font-size: 3em;
  text-align: center;
  padding: 0.2em;
}

.paragHomePage{
  font-size: 1.1em;
  text-align: center;
  padding-top: 0.5em;
}
.containerHomePage {
  background: linear-gradient(150deg, var(--primaryColor) 25%, var(--tertiaryColor) 75%);
  display: flex;
  flex-direction: row;
  gap: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

.menuItem {
  position: relative; 
  padding: 0.5em;
  overflow: hidden; 
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.menuItem img {
  position: relative; 
  width: 4em;
}


.menuItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; 
  height: 100%;
  background: #ffffff; 
  transition: width 0.4s ease; 
}

.menuItem:hover::before {
  width: 100%; 
}

.menuItem:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.menuItem p {
  position: relative; 
  color: white; 
  font-size: 1.3em;
  margin: 0;
  transition: color 0.4s ease; 
}


.menuItem:hover p {
  color: var(--primaryColor); 
}

/*
----------
SHOWS
----------
*/

#cardFormMainShows{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#showList{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cardFormMainShows h1{
  font-size: 2.75em;
  text-align: center;
  margin: 0.25em;
}

#cardFormMainShows .card h2{
  text-align: center;
}

#cardFormMainShows p{
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.25em;
}

#showList h3{
  font-size: 1.75em;
  margin: 0.5em;
  text-align: center;
}

#showList p{
  font-size: 1.2em;
  margin: 0em 0.5em;
}

#showList > .card{
  padding: 1rem;
  margin: 1.2rem;
  max-height: fit-content;
  background-color: #ecece5;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px var(--primaryColor);
}

#showList img{
  display: flex;
  max-width: 18em;
  height: auto;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
}

.showsWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.showsButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.showsButtons a{
  margin: 0em 0.25em;
  font-size: 1.1em;
}

.deleteBtn{
  color: #000;
  border: solid 5px var(--errorColor);
}

.deleteBtn:hover{
  background-color: var(--errorColor);
  color: #FFF;
}

.modifyBtn{
  color: #000;
  border: solid 5px var(--secondaryColor);
}

.modifyBtn:hover{
  background-color: var(--secondaryColor);
}

#createBtn{
  margin-top: 1em;
}

/*
-----------------
DELETE SHOW PAGE
-----------------
*/

#backToShowsBtn{
  margin-top: 1em;
}

/*
-----------------
PULSANTE TORNA SU
-----------------
*/
.scrollUpButton{
  position: fixed;
  bottom: 25px;
  right: 30px;
  height: 4rem;
  width: 4rem;
  background-color: var(--primaryColor);
  border: none;
  padding: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all .2s ease-out;
}

.scrollUpButton svg{
  fill: var(--secondaryColor);
  width: 3rem;
  height: 3rem;
}

.scrollUpButton.noDisplay{
  visibility: hidden;
  opacity: 0;
}
